body {
  margin: 0;
}

#div1 {
  height: 25vh;
  background-color: red;
  text-align: center;
}

#div2 {
  height: 25vh;
  background-color: orange;
  text-align: center;
}

#div3 {
  height: 25vh;
  background-color: yellow;
  text-align: center;
}
